@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('./default-settings.css');
@import url('./nav.css');
@import url('./responsive.css');
/*---------------------------------------------------------------settings (footer)------------------------------------------------------------------------------------------------*/
@import url('./footer.css');
section{
    position: relative;
}
article{
    margin-bottom: 10rem;
}
article p{
    margin-top: 3rem;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 0.05rem;
    text-indent:1.5em;
    text-align: justify;
}
article p:last-child{
    padding-bottom: 10rem;
}
.container-button{
    position: absolute;
    z-index: 100;
}
button{
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 2.5rem;
}
button svg{
    width: 3.6rem;
    cursor: pointer;
}
button svg:hover circle{
    fill: var(--hover-primitive-color);
    transition: .5s;
}
.container-img > div{
    position: relative;
}
.container-img img{
    width: 100%;
    height: 45rem;
    object-fit: cover;
    border-radius: 0 0 3rem 3rem;
}
.container-img::after{
    content: "";
    width: 100%;
    height: 45rem;
    background: linear-gradient(180deg, rgba(0,0,0,.45) 0%, transparent 100%);
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;

}
.publication{
    font-size: 1.4rem;
    color: var(--date-article-color);
    margin: 1rem 3rem 0;
}
h1::first-letter{
    font-family: 'Kaushan Script', cursive;
    font-size: 6rem;
    padding-right: 1rem;
}
h1{
    margin: 3rem 0;  
    font-size: 4.5rem;
}
h4{
    margin: 1.5rem 0;
    font-size: 1.5rem;
    text-align: center;
}
h2{
    margin: 4rem 0 2.5rem;
    font-size: 3.5rem;
    color: var(--secondary-title-color);
}
.content-media {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px){
    section{
        padding: 0 2rem;
    }
    h1, h2{
        font-size: 2.5rem;
    }
    .content-media iframe,
    .content-media img{
        width: 100%;
    }
}