:root{
    --primitive-color:rgb(0, 125, 235);
    --hover-primitive-color:rgba(0,125,235, .75);
    --hover-color:rgba(255, 255, 255, 0.15);
    --secondary-title-color: rgb(88, 88, 88);
    --paragraph-color: rgb(187, 185, 185);
    --date-article-color:rgb(105, 106, 106);
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
textarea {
    resize: none;
 }
html, 
body{
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;

}
.container{
    max-width: 98rem;
    margin-inline: auto;
}
.content{
    margin: 2rem;
}
.social-meida ul{
    display: flex;
    gap: 1.5rem;
}
textarea{
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif !important;
}