/*---------------------------------------------------------------default settings------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@400;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('./default-settings.css');
/*---------------------------------------------------------------settings (header and nav)------------------------------------------------------------------------------------------------*/
header{
    background: var(--primitive-color);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 98rem;
    height: 8rem;
    margin: auto;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}
header nav ul a:hover{
    background: var(--hover-color)
}
header .container img {
    height: 3rem;
}
#checkbox-menu{
    display: none;
}
/*---------------------------------------------------------------settings(main)------------------------------------------------------------------------------------------------*/
main{
    margin-bottom: 10rem;
}
main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 98rem;
    margin: 10rem auto 0;
}
h2{
    color: black;
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: bold;
}
h3{
    color: var(--secondary-title-color);
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 1rem 0;
}
form{
    margin-top: 2rem;
}
form input, textarea{
    width: 37.5rem;
    height: 4.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    background: #4b7de13b;

}
form [type="submit"]{
    background: var(--primitive-color);
    color: white;
    width: 15rem;
    height: 4rem;
    padding-left: 0;
    font-size: 1.6rem;

}
form [type="submit"]:hover{
    cursor: pointer;
    background: var(--hover-primitive-color);
    transition: .5s;
}
main .container-main img{
    width: 60rem;
}
/*------------------------------------------------------------------settings cards------------------------------------------------------------------------------------------------*/
.cards{
    width: 90%;
    max-width: 98rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap: 2rem;
}
.text--medium{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;   /*Isso que não entendi por padrão os <p> já não são normal(400) de weight?*/
    color: var(--paragraph-color);
}
.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 2px 2px 5px -4px black;
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
}
.card:hover{
    transform:translateY(-5px);
}
.image{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem 1rem 0 0;   
    height: 22.5rem;
}
.image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}
.content{
    margin: 2rem;
}
.title{
    margin-bottom: 0;
}
#contact{
    position: relative;
}
.content-contact{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-block: 15rem;
    
}
.content-contact::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 15rem);
    z-index: -1;
    background-image: linear-gradient(transparent, var(--hover-primitive-color));
    transform: translateY(-30rem);
}
.info-contact h4{
    font-size: 1.8rem;
    font-weight: normal;
}
.form-contact, .info-contact{
    width: 37.5rem;
    box-sizing: content-box;
    padding: 4rem;
    border-radius: 3rem;
    background: white;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 15%);
}
.info-contact h2,.info-contact h1, 
.form-contact h1{
    font-size: 4.5rem;
    color: var(--primitive-color);
    line-height: 100%;
    margin-top: 2rem;
}
.info-contact h2{
    font-size: 3.5rem;
}
.info-contact > div{
    margin-block: 3rem;
}
.info-contact a[href^="mailto"]{
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--primitive-color);
    border-bottom: 0.2rem solid var(--primitive-color);
}
.social-meida ul{
    display: flex;
    gap: 1.5rem;
}
.form-contact, 
.form-contact form{
    display: flex;
    flex-direction: column;
}
.form-contact textarea{
    height: 15rem;
    padding: .5rem .75rem;
}
:is(.form-contact input,
    .form-contact  textarea)::placeholder{
    text-indent: 3rem;
}   
.form-contact input[type="submit"]{
    width: 100%;
}