/*---------------------------------------------------------------default settings------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@400;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('./default-settings.css');
/*---------------------------------------------------------------settings (header and nav)------------------------------------------------------------------------------------------------*/
header{
    background: var(--primitive-color);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 98rem;
    height: 8rem;
    margin: auto;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}
header nav ul a:hover{
    background: var(--hover-color)
}
header .container img {
    height: 3rem;
}
#checkbox-menu{
    display: none;
}
/*---------------------------------------------------------------settings(main)------------------------------------------------------------------------------------------------*/
main{
    margin-bottom: 10rem;
}
main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 98rem;
    margin: 10rem auto 0;
}
h2{
    color: black;
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: bold;
}
h3{
    color: var(--secondary-title-color);
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 1rem 0;
}
form{
    margin-top: 2rem;
}
form input{
    width: 37.5rem;
    height: 4.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    border: 2px solid var(--primitive-color);

}
form [type="submit"]{
    background: var(--primitive-color);
    color: white;
    width: 15rem;
    height: 4rem;
    padding-left: 0;
    font-size: 1.6rem;

}
form [type="submit"]:hover{
    cursor: pointer;
    background: var(--hover-primitive-color);
    transform: translateY(-2px);
}
main .container-main img{
    width: 60rem;
}
/*------------------------------------------------------------------settings cards------------------------------------------------------------------------------------------------*/
.cards{
    width: 90%;
    max-width: 98rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap: 2rem;
}
.text--medium{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;   /*Isso que não entendi por padrão os <p> já não são normal(400) de weight?*/
    color: var(--paragraph-color);
}
.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 2px 2px 5px -4px black;
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
}
.card:hover{
    transform:translateY(-7px);
}
.image{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem 1rem 0 0;   
    height: 22.5rem;
}
.image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}
.content{
    margin: 2rem;
}
.title{
    margin-bottom: 0;
}
.desafio {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    border: 1px solid black;
    margin: 10rem auto;
    max-width: 98rem;
    background: lightgrey;
}